# Prerequisites
*.d

# Cmake Files
*.cmake
*.tcl

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode
./build/CMakeFiles/*
./build/Testing/Temporary/*
./build/_deps/*
./build/lib/*
